.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 16px;
  color: var(--color-token-text-secondary);
  font-size: 14px;
  text-align: center;
  background: var(--color-token-bg-primary);
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 48px 16px;
  color: var(--color-error);
  font-size: 14px;
  text-align: center;
  background: var(--color-token-bg-primary);
}